.tripGroup {
  background: #fff;
  color: #222;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.10);
  cursor: move;
  outline: none;
  border: 2px solid #e0e0e0;
}

.tripGroupList {
  width: 100%;
}

.busTiles {
  display: flex;
  gap: 1rem;
}
